.logo {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.sign-up {
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 36px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;
    margin: 0 158px 0 158px;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.banner-title {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: center;
}
header {
    background-image: url(../Assets/Hero-bg.png);
}
.action-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 116px 159px 116px 141px;
    gap: 220px;
}
.action-section-image img {
    border-radius: 48px;
    position: static;
    width: 403px;
    height: 328px
}
.action-section-text h2 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
}
.action-section-text p {
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}