.logo {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.sign-up {
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 36px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;
    margin: 0 158px 0 158px;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.banner-title {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: center;
}
header {
    background-image: url(./Assets/Hero-bg.png);
}
.action-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 116px 159px 116px 141px;
    gap: 220px;
}
.action-section-image img {
    border-radius: 48px;
    position: static;
    width: 403px;
    height: 328px
}
.action-section-text h2 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
}
.action-section-text p {
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.productive-users-section {
    margin: 116px 159px 137px 141px;
    padding: 50px 80px;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
}
.productive-users-section h2 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
}

.stat-number {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    line-height: 97px;
    letter-spacing: 0%;
    text-align: left;
}
.stat-label {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 158px;
    padding: 0px;
}

.user-feedback-section {
    width: 1140px;
    height: 342px;
    margin: 137px 149px 137px 151px;
}

.user-feedback-section h2 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: center;
}
.user-feedback-section h3 {
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
}
.user-feedback-section p {
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.user-feedback-section .reviewer-name {
    color: rgb(117, 117, 117);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.user-feedback-section .reviewer-date {
    color: rgb(117, 117, 117);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.user-feedback-section .reviewer-image {
    position: static;
    width: 40px;
    height: 40px;
    border-radius: 99px;
} 
.user-feedback-section .testimonials .card .stars {
    position: static;
    width: 20px;
    height: 20px;
}
.card {
    box-sizing: border-box;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 24px;
}
.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px;
}

.container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    }

.contact-heading {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 97px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.contact-form {
    width: 497px;
    background-color: #ffffff;
    border-radius: 8px;
}

.contact-form label {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d6dbe9;
    font-size: 16px;
    background-color: #f5f7fc;
    color: #000;
}

.contact-form textarea {
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.contact-form button {
    width: 100%;
    padding: 16px;
    background-color: #3f41fa;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.lets-get-in-touch-section {
    margin: 92px 150px 14px 150px;
    padding: 71px 0;
}


footer {
    text-align: center;
    padding: 60px 20px 40px;
    background-color: #fff;
}

.footer-logo {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 100px;
    font-weight: 900;
    line-height: 121px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-description {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}

.footer-nav a {
    text-decoration: none;
    color: #6e6e8e;
}


/* hover button */

.easy-hover {
  transition: all 0.3s ease;
  cursor: pointer;
}

.easy-hover:hover {
  background-color: #007BFF;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}